[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<1.12"
selenium = "<4"

[dev-packages]
pytest = "*"
pytest-django = "*"
django-test-without-migrations = "*"

[scripts]
runserver = "python manage.py runserver"
functional_tests = "pytest functional_tests"
django_tests = "pytest apps"

[requires]
python_version = "3.9"
